@model CarrinhoDeCompras.Models.Requests.CreateItemRequest
@{
    ViewData["Title"] = "Cadastrar Item no Carrinho";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastrar Item no Carrinho</h1>
    </div>
    <form method="post" asp-controller="Carrinho" asp-action="CreateItemCarrinho">
        <div class="mb-3">
            <label for="Carrinho" class="text-light form-label">Quantidade:</label>
            <input type="text" asp-for="Quantidade" class="shadow-none form-control" id="exampleInputQuantidade" placeholder="Quantidade">
            <span class="text-danger" asp-validation-for="Quantidade"></span>
        </div>
        <div class="mb-3">
            <label for="Carrinho" class="text-light form-label">Preco Unitário:</label>
            <input type="text" asp-for="PrecoUnitario" class="shadow-none form-control" id="exampleInputPrecoUnitario" placeholder="Preco Unitário">
            <span class="text-danger" asp-validation-for="PrecoUnitario"></span>
        </div>
        <div class="mb-3">
            <label for="Carrinho" class="text-light form-label">Produto:</label>
            <input asp-for="Produto" type="text" class="form-control shadow-none" id="exampleInputProduto" placeholder="Produto">
            <span class="text-danger" asp-validation-for="Produto"></span>
        </div>
        <div class="mb-3">
            <label for="Carrinho" class="text-light form-label">Id do Carrinho:</label>
            <input asp-for="CarrinhoId" type="text" class="form-control shadow-none" id="exampleInputCarrinhoId" placeholder="Id do Carrinho">
            <span class="text-danger" asp-validation-for="CarrinhoId"></span>
        </div>
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Adicionar</button>
            <a class="btn btn-primary w-50" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
